<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Princess+Sofia&family=WindSong:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Macondo&family=Updock&display=swap" rel="stylesheet">

    <title>Create Being</title>
</head>

<body>
    <h2>Create a New Being</h2>

    <div class="form-container">
        <form method="POST">
            <label for="name">Name of Being:</label>
            <input type="text" name="name" id="name" required>

            <label for="description">Description:</label>
            <textarea name="description" id="description" required></textarea>

            <button type="submit" class="btn-add">Create Being</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>
