<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    
    <title>Ethereal Beings</title>
</head>
<body>
    <h1>Faefolk Fantasium</h1>
    <h2>A Whimsical Compendium of Ethereal Beings</h2>
    <ul>
        {% for being in beings %}
            <li>{{ being.name }} - {{ being.description }} (Type: {{ being.type }})</li>
        {% endfor %}
        <ul>
            {% for being in beings %}
                <li>
                    <h2>{{ being.name }}</h2>
                    <p>{{ being.description }}</p>
                    <a href="{{ url_for('edit_being', being_id=being.id) }}">Edit</a>
                    <form action="{{ url_for('delete_being', being_id=being.id) }}" method="POST" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        
    </ul>
    <a href="{{ url_for('create_being') }}">Create a New Ethereal Being</a>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
