<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Princess+Sofia&family=WindSong:wght@400;500&display=swap"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Macondo&family=Updock&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Updock&display=swap" rel="stylesheet">


    <title>Faefolk Fantasium</title>
</head>

<body>
    <h1 class="princess-sofia-regular">Faefolk Fantasium</h1>
    <h2 class="macondo-regular">A Whimsical Compendium of Ethereal Beings</h2>>
</div>
<div class="add">
<a href="{{ url_for('create_being') }}" class="btn-add">Add...</a>
</div>
    <div class="card-container">
        {% for being in beings %}
        <div class="card">
            <h3 class="updock-regular">{{ being.name }}</h3>
            <p class="updock-regular">{{ being.description }}</p>
            <div class="card-actions">
                <a href="{{ url_for('edit_being', being_id=being.id) }}" class="btn-edit">Edit</a>
                <a href="{{ url_for('delete_being', being_id=being.id) }}" class="btn-delete"
                    onclick="deleteBeing('{{ being.id }}')">Delete</a>
            </div>
        </div>
        {% endfor %}
    
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>